[data]
    desktop        = {{ promptBool "Install general desktop apps (brave, ...)" true }}
    gaming         = {{ promptBool "Install gaming apps (steam, heroic, ...)" true }}
    development    = {{ promptBool "Install dev tools (vscode, ...)" true }}
    copilot_skills = {{ promptBool "Install VS Code extensions & Copilot skills" true }}
    displaylink    = {{ promptBool "Install DisplayLink driver" true }}
    nvidia         = {{ promptBool "Install NVIDIA drivers" true }}
